<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--여기서 param 못씀-->
<mapper namespace="com.example.mapper.MemberMapper"> 
    <insert id="insertMemberOne" parameterType="Member">
        INSERT INTO member( id, password, name, age, role )
		VALUES ( #{id}, #{password}, #{name}, #{age}, #{role} )
    </insert>
    
    <!--한명 조회-->
    <select id="selectMemberOne" parameterType="com.example.dto.Member" resultType="com.example.dto.Member">
        SELECT id, name, age, role FROM member WHERE id=#{id} AND password=#{password}
    </select>

    <!--수정-->
    <update id="updateMemberOne" parameterType="com.example.dto.Member">
        UPDATE member SET name=#{name}, age=#{age} WHERE id=#{id}
    </update>

    <!--탈퇴-->
    <delete id="deleteMemberOne" parameterType="com.example.dto.Member">
        DELETE FROM member WEHRE id=#{id} AND password=#{password}
    </delete>

    <!--비밀번호 변경-->
    <update id="updatePW" parameterType="com.example.dto.Member" >
        UPDATE member SET password=#{newpassword} WHERE id=#{id} AND password=#{password}
    </update>


    <!--시큐리티 때문에 만들었음-->
    <select id="selectMemberOne1" parameterType="String" resultType="com.example.dto.Member">
        SELECT * FROM member WHERE id=#{id}
    </select>

    
</mapper>