<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>홈화면</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' th:href="@{css/bootstrap.min.css}" />
    
</head>
<body>
    <h3>홈화면</h3>
    <hr />
    
    <!--고객-->
    <div th:if="${user == null}"> <!--로그인 안됐을 때-->
        <a th:href="@{/customer/join.do}">고객 회원가입</a>
        <a th:href="@{/login.do}">고객 로그인</a>
    </div>

    <div th:if="${user != null}"> <!--로그인 됐을 때-->
        로그인 <p th:text="${user.username}"></p>
        <p th:text="${user.authorities[0]}"></p>
        <a th:href="@{/customer/home.do}">고객 홈페이지</a>
        <form th:action="@{/logout.do}" method="post">
            <input type="submit" value="로그아웃">
        </form>
    </div>


    <hr />


    <!--판매자-->
    <div th:if="${user == null}">
        <a th:href="@{/seller/join.do}">판매자 회원가입</a>
        <a th:href="@{/seller/login.do}">판매자 로그인</a>
    </div>

    <div th:if="${user != null}"> <!--로그인 됐을 때-->
        <p th:text="${user.username}"></p>
        <p th:text="${user.authorities[0]}"></p>
        <a th:href="@{/seller/home.do}">판매자 홈페이지</a>
        <form th:action="@{/logout.do}" method="post">
            <input type="submit" value="로그아웃">
        </form>
    </div>


    <hr />


    <!--관리자-->
    <div th:if="${user == null}">
        <a th:href="@{/admin/join.do}">관리자 회원가입</a>
        <a th:href="@{/admin/login.do}">관리자 로그인</a>
    </div>

    <div th:if="${user != null}"> <!--로그인 됐을 때-->
        <p th:text="${user.username}"></p>
        <p th:text="${user.authorities[0]}"></p>
        <a th:href="@{/admin/home.do}">관리자 홈페이지</a>
        <form th:action="@{/logout.do}" method="post">
            <input type="submit" value="로그아웃">
        </form>
    </div>

    <!-- <a th:href="@{/board/insert.do}">게시판 글쓰기</a>-->
</body>
</html>